* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 auto !important;
  padding: 0;
  max-width: 400px;
}

label {
  margin-top: 5px;
}

p {
  margin: 5px;
}

h2 {
  margin-top: 10px;
}

header,
bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 5vh;

}

header #item-menu,
#item-home,
#item-grayscale,
#item-negative,
#item-rgb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 15px;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh;
  justify-content: center;
  align-items: center;
}

main menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  height: 100%;
}

#menu-home {
  justify-content: center;
}

#container-radio {
  margin-top: 10px;
  flex-direction: row;
}

input[type="file"] {
  width: 115px;
  color: transparent;
}

input #image1,
#grayscale-button,
#negative-button,
#channelsrgb-button {
  width: 12vw;
  height: 5vh;
  margin-top: 10px;
}

main section {
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  overflow-x: scroll;
}

section p {
  margin-top: 15px;
}

section canvas {
  width: 240px;
  height: 320px;
  border-style: solid;
  border-color: #21222d;
}

#frame0 {
  border-style: solid;
  border-color: #21222d;
  background-color: #faf8eb;
}

frame-tam {
  width: 240px;
  height: 320px;
}

#rgb-box {
  display: flex;
  flex-direction: column;
}

#rgb-color-picker {
  width: 250px;
  height: 250px;
  border-style: solid;
  border-color: #21222d;
}

.num {
  width: 50px;
}